<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}{% endblock %}
    <!-- <link rel="stylesheet" href="../static/css/main.css"> --><!--this one is also working...-->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap" rel="stylesheet">
</head>
<body>
    {% block body %}{% endblock %}
    
</body>
</html>